<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarberBookingApp"
        tools:targetApi="31">
        <activity
            android:name=".BarberListViewModule.WriteReview"
            android:exported="false" />
        <activity
            android:name=".BarberListViewModule.Feedback"
            android:exported="false" />
        <activity
            android:name=".BarberListViewModule.BarberDetails"
            android:exported="false" />
        <activity
            android:name=".BarberListViewModule.BarberListView"
            android:exported="false" />
        <activity
            android:name=".GeneralModule.BarberLogin"
            android:exported="false" />
        <activity
            android:name=".GeneralModule.BarberSignUp"
            android:exported="false" />
        <activity
            android:name=".GeneralModule.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".GeneralModule.Login"
            android:exported="false" />
        <activity
            android:name=".GeneralModule.SignUp"
            android:exported="false" />
        <activity
            android:name=".GeneralModule.Splashing"
            android:exported="true" />
        <activity
            android:name=".UserManagementModule.HomePage"
            android:exported="false" />
        <activity
            android:name=".UserManagementModule.MyProfile"
            android:exported="false" />
        <activity
            android:name=".UserManagementModule.EditProfile"
            android:exported="false" />
        <activity
            android:name=".UserManagementModule.upcoming_booking"
            android:exported="false" />
        <activity
            android:name=".UserManagementModule.cancelled_booking"
            android:exported="false" />
        <activity
            android:name=".UserManagementModule.AboutApp"
            android:exported="false" />
        <activity
            android:name=".BookingModule.appointment"
            android:exported="false" />
        <activity
            android:name=".BookingModule.Booking"
            android:exported="false" />
        <activity
            android:name=".BookingModule.services"
            android:exported="false" />
        <activity
            android:name=".BookingModule.date_and_time"
            android:exported="false" />
        <activity
            android:name=".BookingModule.lastConfirm"
            android:exported="false" />
        <activity
            android:name=".BarberManagementModule.BarberGallery"
            android:exported="false" />
        <activity
            android:name=".BarberManagementModule.Services"
            android:exported="false" />
        <activity
            android:name=".BarberManagementModule.BarberEditProfile"
            android:exported="false" />
        <activity
            android:name=".BarberManagementModule.BarberProfile"
            android:exported="false" />
        <activity
            android:name=".BarberManagementModule.BarberAdmin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>